{% extends 'base.html' %}

{% block title %} About {% endblock %}


{% block body %}

    <!--start product details-->
    <section class="section-padding">
        <div class="container">
    
          <div class="separator mb-3">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Find Us Map</h3>
            <div class="line"></div>
          </div>
    
          <div class="border p-3">
            <iframe  class="w-100" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4762.006159342613!2d-6.2801359!3d53.3610998!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1724327240922!5m2!1sen!2sie" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
          </div>

         
    
           <div class="separator my-3">
            <div class="line"></div>
            <h3 class="mb-0 h3 fw-bold">Why Choose Us</h3>
            <div class="line"></div>
          </div>
    
          <div class="row g-4">
            <div class="col-xl-8">
              <div class="p-4 border">
                <form>
                  <div class="form-body">
                    <h4 class="mb-0 fw-bold">Drop Us a Line</h4>
                    <div class="my-3 border-bottom"></div>
                    <div class="mb-3">
                      <label class="form-label">Enter Your Name</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Enter Email</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Phone Number</label>
                      <input type="text" class="form-control rounded-0">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Message</label>
                      <textarea class="form-control rounded-0" rows="4" cols="4"></textarea>
                    </div>
                    <div class="mb-0">
                      <a href="/thank_you" class="btn btn-dark btn-ecomm">Send Message</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="p-3 border">
                <div class="address mb-3">
                  <h5 class="mb-0 fw-bold">Address</h5>
                  <p class="mb-0 font-12">10 Cabra Rd, Phibsborough, Dublin, D07 X6K7</p>
                </div>
                <hr>
                <div class="phone mb-3">
                  <h5 class="mb-0 fw-bold">Phone</h5>
                  <p class="mb-0 font-13">Toll Free (+353) 833-018415</p>
                  <p class="mb-0 font-13">Mobile : 08324445666</p>
                </div>
                <hr>
                <div class="email mb-3">
                  <h5 class="mb-0 fw-bold">Email</h5>
                  <p class="mb-0 font-13">mail@example.com</p>
                </div>
                <hr>
                <div class="working-days mb-0">
                  <h5 class="mb-0 fw-bold">Working Days</h5>
                  <p class="mb-0 font-13">Mon - FRI / 9:30 AM - 6:30 PM</p>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </section>
       <!--start product details-->


{% endblock %}
